@font-face {
    font-family: 'itc_franklin_gothicregular';
    src: url('../fonts/frankgotbooxcmp-webfont.eot');
    src: url('../fonts/frankgotbooxcmp-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frankgotbooxcmp-webfont.woff') format('woff'),
         url('../fonts/frankgotbooxcmp-webfont.ttf') format('truetype'),
         url('../fonts/frankgotbooxcmp-webfont.svg#itc_franklin_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bauerbodoniregular';
    src: url('../fonts/bauerbodblacon-webfont.eot');
    src: url('../fonts/bauerbodblacon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bauerbodblacon-webfont.woff') format('woff'),
         url('../fonts/bauerbodblacon-webfont.ttf') format('truetype'),
         url('../fonts/bauerbodblacon-webfont.svg#bauerbodoniregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.demo-1 .sl-slider-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* Custom navigation arrows */

.nav-arrows span {
	position: absolute;
	z-index: 2000;
	top: 50%;
	width: 40px;
	height: 40px;
	border: 8px solid #ddd;
	border: 8px solid rgba(150,150,150,0.4);
	text-indent: -90000px;
	margin-top: -40px;
	cursor: pointer;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-arrows span:hover {
	border-color: rgba(150,150,150,0.9);
}

.nav-arrows span.nav-arrow-prev {
	left: 5%;
	border-right: none;
	border-top: none;
}

.nav-arrows span.nav-arrow-next {
	right: 5%;
	border-left: none;
	border-bottom: none;
}

/* Custom navigation dots */

.nav-dots {
	font-family: 'itc_franklin_gothicregular';
	font-size: 1.25em;
	text-transform:uppercase;
	color:#46130e;
	position:absolute;
	top: 5%;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
	text-align: center;
	background-color:none;
	z-index: 1000;
	cursor: pointer;
}

.nav-dots span {
	margin: 0 0 0 0px;
	text-decoration: underline;
}


.nav-dots span:hover {
	text-decoration: none;
}

.nav-dots span.nav-dot-current {
	content: "";
	background-color:none;
	display:none;
}

/* Content elements */

.demo-1 .deco {
	width: 260px;
	height: 260px;
	border: 2px dashed #ddd;
	border: 2px dashed rgba(150,150,150,0.4);
	border-radius: 50%;
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin: 0 0 0 -130px;
}

.demo-1 [data-icon]:after {
    content: attr(data-icon);
    font-family: 'AnimalsNormal';
	color: #999;
	text-shadow: 0 0 1px #999;
	position: absolute;
	width: 220px;
	height: 220px;
	line-height: 220px;
	text-align: center;
	font-size: 100px;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -110px;
	box-shadow: inset 0 0 0 10px #f7f7f7;
	border-radius: 50%;
}

.demo-1 .sl-slide h2 {
	color: #000;
	text-shadow: 0 0 1px #000;
	padding: 20px;
	position: absolute;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 13px;
	text-transform: uppercase;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	bottom: 50%;
	margin: 0 0 -120px 0;
}

.demo-1 .sl-slide blockquote {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	height: 70px;
	color: #8b8b8b;
	z-index: 2;
	bottom: 50%;
	margin: 0 0 -200px 0;
	padding: 0;
}

.demo-1 .sl-slide blockquote p{
	margin: 0 auto;
	width: 60%;
	max-width: 400px;
	position: relative;
}

.demo-1 .sl-slide blockquote p:before {
	color: #f0f0f0;
	color: rgba(244,244,244,0.65);
	font-family: "Bookman Old Style", Bookman, Garamond, serif;
	position: absolute;
	line-height: 60px;
	width: 75px;
	height: 75px;
	font-size: 200px;
	z-index: -1;
	left: -80px;
	top: 35px;
	content: '\201C';
}

.demo-1 .sl-slide blockquote cite {
	font-size: 10px;
	padding-top: 10px;
	display: inline-block;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
}

/* Custom background colors for slides in first demo */

/* Page 1*/
.demo-1 .bg-1 .sl-slide-inner{
	background:url(../img/contact.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
.demo-1 .bg-1 .sl-slide-inner,
.demo-1 .bg-1 .sl-content-slice {
	left: 50%;
	-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
	
}*/

#hideHome{
	visibility:collapse;
}

.logo {
	float:left;
	margin:12% 0 5% 50%;
	max-width:487px;
	max-height:278px;
	width: 50%;
	height: auto;
	background-color:none;
	-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
}

.logo img {
	width: 100%;
	height:auto;
	margin:0;
	background: none;
}


#centerWrap{
	position:absolute;
	max-width: 100%;
	width:100%;
	height: 100%;
	margin: 0 auto 0 auto;
	left: 50%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color:none;
	text-align:center;
	-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
}

.loft_text {
	font-family: 'bauerbodoniregular';
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing:.0725em;
	margin: 5% 0 0 0;
	clear:both;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

.noMad_txt{
	font-family: 'itc_franklin_gothicregular';
	font-size: 1.75em;
	text-transform: uppercase;
	margin: 5px 0 0 0;
	clear:both;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

.winter_txt{
	font-family: 'bauerbodoniregular';
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 3% 0 0 0;
	clear:both;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

#footer{
	float:left;
	width: 100%;
	height:auto;
	background: none;
	clear:both;
	display:inline;
	margin: 6% 0 0 0;
	padding-bottom: 10%;
}

#foot_txt_Wrap {
	max-width:1005px;
	background-color:#0FC;
}

.footer_txt {
	float:left;
	font-family: 'itc_franklin_gothicregular';
	font-size: 1em;
	text-transform: uppercase;
	vertical-align:middle;
	width:auto;
	margin: 2px 0 0 50%;
	background-color: none;
	-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
}

#equal_husing{
	float: right;
	background-image:url(../img/equal_housing.png);
	width: 21px;
	height: 20px;
	margin: 0px 0 0 20px;
}

/*********************** Second Slide *******************************/
/************************Web Form********************************************/

.demo-1 .bg-2 .sl-slide-inner{
 background:url(../img/contact.jpg)no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
.demo-1 .bg-2 .sl-content-slice {
  background:url(../images/1.jpg) no-repeatno-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.smlogo {
	float:left;
	margin:3% 0 1% 50%;
	max-width:356px;
	max-height:219px;
	width: 100%;
	height: 100%;
	background-color: none;
	-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
	cursor:pointer;
}

.smlogo img {
	width: 90%;
	height:auto;
	margin:0;
	background: none;
}

.formBox{
	max-width: 1357px;
	max-height:643px;
	width: 80%;
	float:left;
	margin: 0 0 0 50%;
	background-color: none;
	-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
	z-index: 1;
}

.formBox img{
	width: 100%;
	height:auto;
	margin:0;
	background: none;
}


#formWrap {
	position:absolute;
	top: 50%;
	left:50%;
	width: 75%;
	background-color: none;
	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	z-index:2;
}


.demo-1 .bg-2 [data-icon]:after,
.demo-1 .bg-2 h2 {
	color: #fff;
}

.demo-1 .bg-2 blockquote:before {
	color: #222;
}


#formCon {
	width: 90%;
	float:left;
	clear:left;
	background-color: none;
	margin: 0 0 2% 10%;
}

#contactHeader {
	position:absolute;
	font-family: 'bauerbodoniregular';
	font-size: 2em;
	color: #46130e;
	margin: 4% 0 0 15%;
	text-align:left;
	text-transform:uppercase;
	z-index: 2;
}

#fields_Left {
	float:left;
	width: 45%;
	margin: 1% 3% 0 2%;
	background-color: none;
}

#fields_right{
	float:left;
	width:45%;
	margin: 1% 0 0 0;
	background-color:none;
}

input, textarea { 
   font-family:'itc_franklin_gothicregular',Sans-Serif;
   float:left;	
   width: 100%;
   height: 35px;
   overflow: hidden;
   background: transparent;
   border-top: none; border-left: none; border-right:none;	
   border-bottom:thin solid #46130e;
   padding:3.3% 0 0 0;
   margin: 10px 0 0 2.5%;
   color:#46130e;
   text-indent: 10px;
   font-size: 1.25em;
   outline: none;
   border-radius: 0;
   -webkit-appearance: none;
   text-transform:uppercase;
}

/****New dropdown styles****/

.styled-select {
   float:left;	
   width: 100%;
   height: 35px;
   overflow: hidden;
   background: none;
   border-bottom:thin solid #46130e;
   padding:3.3% 0 3.3% 0;
   margin: 10px 0 0 2.5%;
   outline: none;
}

.styled-select select {
   background: transparent;	
   font-family:'itc_franklin_gothicregular',Sans-Serif;
   font-size: 1.25em;
   text-indent:10px;
   text-transform:uppercase;
   color:#46130e;
   width: 110%;
   padding: 0;
   border: none;
   border-radius: 0;
   outline: none;
   height: auto;
   -webkit-appearance:none;
   cursor:pointer;
   background-color:none;
   margin-top: -50px;
 }


/****Send Button****/

#send {
	font-family:'bauerbodoniregular',Sans-Serif;
	width: 100%;
	height:auto;
	background: url(../img/pointer.png) no-repeat;
	background-position: 10%;
	border: thin solid #46130e;
	font-size: 2.5em;
	color: #46130e;
	text-align: center;
	float:left;
	clear:left;
	margin: 10% 0 2% 3%;
	padding: 4% 0 3% 0;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-transition-duration: 0.40s;
	-webkit-transition-timing-function: ease-in; 
	-moz-transition-duration: 0.40s;
	-moz-transition-timing-function: ease-in; 
}

#send:hover {
	background-position: 15%;
	-webkit-transition-duration: 0.40s;
	-webkit-transition-timing-function: ease-in; 
	-moz-transition-duration: 0.40s;
	-moz-transition-timing-function: ease-in; 
}

.phone{
	font-size:.7em; 
}


#required {
 font-family:'itc_franklin_gothicregular',Sans-Serif;
 color:#79251b;
 font-size:.7em;
 margin: 5px 0 0 0;
 display:none;
}

#required.error{
	color: #C00;
	display:block;
}

#customForm input.error{
	color:#C00;
	border-bottom:solid thin #C00;
}

#footer_Contact{
	float:left;
	width: 100%;
	height:auto;
	background:none;
	clear:both;
	display:inline;
	margin: 2% 0 0 0;
}




/* Animations for content elements (fadeIn) scaleUp*/

.sl-trans-elems .smlogo{
	-webkit-animation: scaleUp 1s ease-out both, fadeIn 1s ease-out both;;
	-moz-animation: scaleUp 1s ease-out both, fadeIn 1s ease-out both;;
	-o-animation: scaleUp 1s ease-out both, fadeIn 1s ease-out both;;
	-ms-animation: scaleUp 1s ease-out both, fadeIn 1s ease-out both;;
	animation: scaleUp 1s ease-out both, fadeIn 1s ease-out both;;
}

.sl-trans-elems .deco{
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2{
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote{
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}

.sl-trans-back-elems .smlogo{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}

.sl-trans-back-elems .deco{
	-webkit-animation: scaleDown 1s ease-in-out both;
	-moz-animation: scaleDown 1s ease-in-out both;
	-o-animation: scaleDown 1s ease-in-out both;
	-ms-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px) rotate(360deg);}
	100% {-webkit-transform: translateX(0px) rotate(0deg);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}

@-webkit-keyframes scaleUp{
	0% {-webkit-transform: translate(-50%,0%) scale(0.85) ;}
	100% {-webkit-transform: translate(-50%,0%) scale(1);}
}
@-moz-keyframes scaleUp{
	0% {-moz-transform: translate(-50%,0%) scale(0.85);}
	100%{-moz-transform: translate(-50%,0%) scale(1);}
}
@-o-keyframes scaleUp{
	{-o-transform: translate(-50%,0%) scale(0.85);}
	{-o-transform: translate(-50%,0%) scale(1);
	}
}
@-ms-keyframes scaleUp{
	0% {-ms-transform: translate(-50%,0%) scale(0.85);}
	100% {-ms-transform: translate(-50%,0%) scale(1);}
}
@keyframes scaleUp{
	0% {transform: translate(-50%,0%) scale(0.85);}
	100% {transform: translate(-50%,0%) scale(1);}
}

@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}


/* Media Queries for custom slider */

@media screen and (max-width: 660px) {
	.demo-1 .deco {
		width: 130px;
		height: 130px;
		margin-left: -65px;
		margin-bottom: 50px;
	}

	.demo-1 [data-icon]:after {
		width: 110px;
		height: 110px;
		line-height: 110px;
		font-size: 40px;
		margin: -55px 0 0 -55px;
	}

	.demo-1 .sl-slide blockquote {
		margin-bottom: -120px;
	}

	.demo-1 .sl-slide h2 {
		line-height: 22px;
		font-size: 18px;
		margin-bottom: -40px;
		letter-spacing: 8px;
	}

	.demo-1 .sl-slide blockquote p:before {
		line-height: 10px;
		width: 40px;
		height: 40px;
		font-size: 120px;
		left: -45px;
	}

	.demo-2 .sl-slider-wrapper {
		height: 500px;
	}

	.demo-2 .sl-slider h2 {
		font-size: 36px;
	}

	.demo-2 .sl-slider blockquote {
		font-size: 16px;
	}

}